.featured-card-container {
  width: 30%;
  height: 75vh;
  /* background-color: grey; */
  line-height: 20px;
  border: 1px solid rgba(128, 128, 128, 0.452);
  border-radius: 3px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.featured-card-top {
  display: flex;
  /* background-color: pink; */
  justify-content: space-around;
}

.featured-card-img-container {
  width: 40%;
  height: 170px;
  margin-bottom: 10px;
  /* background-color: green; */
}
.featured-card-img-container img {
  width: 100%;
  height: 100%;
}

.featured-card-middle {
  padding: 0 20px;
  /* background-color: yellowgreen; */
}

.featured-card-bottom {
  padding: 10px 20px;
}
@media (max-width: 850px) {
  .featured-card-container {
    width: 70%;
    height: 53vh;
    margin-bottom: 100px;
  }
  .featured-card-img-container {
    width: 40%;
    height: 200px;
    margin-bottom: 10px;
    /* background-color: green; */
  }
}

@media (max-width: 720px) {
  .featured-card-container {
    width: 70%;
    height: 80vh;
    margin-bottom: 100px;
  }
}

@media (max-width: 500px) {
  .featured-card-container {
    width: 70%;
    height: 63vh;
    margin-bottom: 100px;
  }
  .featured-card-img-container {
    width: 40%;
    height: 130px;
    margin-bottom: 10px;
    /* background-color: green; */
  }
}

@media (max-width: 400px) {
  .featured-card-container {
    width: 70%;
    height: 73vh;
    margin-bottom: 100px;
  }
  .featured-card-img-container {
    width: 40%;
    height: 130px;
    margin-bottom: 10px;
    /* background-color: green; */
  }
}
